
.div1-card1 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 455px;
    height: fit-content;
}
.posters{
    width: 450px!important ;
    height: 450px!important;
    display: flex;
    justify-content: center;
    align-items: center;

}


.postImage {
    border-radius: 15px;
    margin-top: 35px;
    /* width: 450px!important ; */
    max-width: 450px!important;
    max-height: 450px!important;
 
}

.card-post {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: auto;
    box-shadow: rgba(67, 71, 85, 0.27) 0px 0px 0.25em, rgba(90, 125, 188, 0.05) 0px 0.25em 1em;
    height: fit-content;
    margin-top: 35px;
    border-radius: 25px;
    padding: 30px 0px;
    width: 450px;
    transition: all .2s;

}
.card-post:hover{
    box-shadow: 0px 0px 30px 1px rgba(37, 149, 248, 0.3);
    transform: scale(0.98);
}

.card-post h3 {
    /* width: 35%; */
    text-align: start;
    line-height: 28px;
    color: #31557e;
    padding: 15px 15px;
}


.div1-card1 p {
    /* width: 55%; */
    line-height: 25px;
    padding: 0px 15px;
}


.like-button{
    display: flex;
justify-content: center;
align-items: center;
margin-top: 15px;
}



@media only screen and (min-width: 1600px) {
   
 
.div1-card1 {
  
    height: fit-content;
    width: fit-content;
}

.postImage{
    border-radius: 15px;
    margin-top: 35px;
    width: 700px!important ;
}
.card-post{
    width: 700px!important ;

}
.div1-card1 p {
    /* width: 55%; */
    line-height: 30px;
    font-size: 20;
    padding: 0px 15px;
}

  }


  @media only screen and (max-width: 800px) {
    .postImage {
        width: 500px!important;

   }
   

  }


  @media only screen and (max-width: 500px) {
    .postImage {
        width: 400px!important;

   }
   

  }
