

.parent-second {
    width: 100%;
    height: 80vh;
margin-bottom: 150px;
} 







.master{
    background-image: url(../../assets/headBackground.jpg);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
width: 100%;
height: 30vh;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
/* margin-bottom: 50px; */
color: #ffffff;
}

.master h1{
    padding: 15px 0px;
}
.master p{
    width: 35%;
    line-height: 25px;
}



.parent-post {
    height: fit-content;
    padding: 70px 0px;
    }
    
    .post {
    
        display: flex;
        justify-content: center;
        align-items: center;
        /* margin-top: 0px; */
    
    }
    
    .post img {
         width: 400px;
        margin-right: 0px;
        border-radius: 15px;
    }
    
    .content-post
     {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }
    
    .content-post h1 {
        color: #002c5f;
        width: 90%;
        padding: 0px 45px;
        line-height: 45px;
    }
    
    .content-post p {
        color: #828386;
        width: 90%;
        line-height: 25px;
        padding: 0px 45px;
        margin-top: 25px;
    }
    
   
    .bestBlog{
        display: flex;
        text-align: center;
        justify-content: center;
        color:#002c5f ;
    }
    .lineBestblog{
        width: 10%;
        display: flex;
        border: 1px solid;
        justify-content: center;
        align-items: center;
 margin-left: 680px;
    }
    
    @media only screen and (max-width: 800px) {
        .post img {
            width: 500px;
    
       }
       
    
      }
    
    
      @media only screen and (max-width: 500px) {
        .post img {
            width: 400px;
    
       }
       
    
      }