.contents{
    /* margin:  20px; */
  display: flex !important;
  /* justify-content: center; */
  align-items: center;
}


.cont{
    font-size: large;
    /* height: 70px; */
}



.profile{
display: flex;
flex-direction: column;
justify-content: center;
/* align-items: center; */
/* float: right; */
    height: 50vh;
    width: 48%;
		background: rgba(181, 196, 251, 0.689);
		border-radius: 16px;
		border: solid 0px 5px 5px 5px  rgba(181, 196, 251, 1) 
}